<!--<form [formGroup]="fb">-->
  <!--<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="demo">-->
    <!--<label ngbButtonLabel class="btn-primary">-->
      <!--<input ngbButton type="radio" value="geojson"> GeoJSON Tests-->
    <!--</label>-->
    <!--<label ngbButtonLabel class="btn-primary">-->
      <!--<input ngbButton type="radio" value="radioBtns"> Radio Buttons-->
    <!--</label>-->
    <!--<label ngbButtonLabel class="btn-primary">-->
      <!--<input ngbButton type="radio" value="mapboxDraw"> Mapbox Draw-->
    <!--</label>-->
    <!--<label ngbButtonLabel class="btn-primary">-->
      <!--<input ngbButton type="radio" value="turf"> Turf.js-->
    <!--</label>-->
  <!--</div>-->
<!--</form>-->
<!--<hr>-->
<!--<div *ngIf="fb.value.demo === 'geojson'">-->
  <!--<app-geojson-test></app-geojson-test>-->
<!--</div>-->
<!--<div *ngIf="fb.value.demo === 'radioBtns'">-->
  <!--<app-radio-buttons></app-radio-buttons>-->
<!--</div>-->
<!--<div *ngIf="fb.value.demo === 'mapboxDraw'">-->
  <!--<app-mapbox-draw></app-mapbox-draw>-->
<!--</div>-->
<!--<div *ngIf="fb.value.demo === 'turf'">-->
  <!--<app-turf></app-turf>-->
<!--</div>-->

<mat-button-toggle-group #group="matButtonToggleGroup" value="image-catalog">
  <mat-button-toggle value="geojson">
    GEOJSON TESTS
  </mat-button-toggle>
  <mat-button-toggle value="radio">
    RADIO BUTTONS
  </mat-button-toggle>
  <mat-button-toggle value="mapbox-draw">
    MAPBOX DRAW
  </mat-button-toggle>
  <mat-button-toggle value="turf">
    TURF.JS
  </mat-button-toggle>
  <mat-button-toggle value="image-catalog">
    IMAGE CATALOG
  </mat-button-toggle>
</mat-button-toggle-group>
<hr>
<div *ngIf="group.value === 'geojson'">
  <app-geojson-test></app-geojson-test>
</div>
<div *ngIf="group.value === 'radio'">
  <app-radio-buttons></app-radio-buttons>
</div>
<div *ngIf="group.value === 'mapbox-draw'">
  <app-mapbox-draw></app-mapbox-draw>
</div>
<div *ngIf="group.value === 'turf'">
  <app-turf></app-turf>
</div>
<div *ngIf="group.value === 'image-catalog'">
  <app-image-catalog></app-image-catalog>
</div>
