/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~mapbox-gl/dist/mapbox-gl.css";


body { margin:0; padding:0; }
/*#map-catalog { position: absolute; top:0; bottom:0; width:100%; }*/

mat-button-toggle-group {
  /*position: absolute;*/
  z-index: 1000;
}
